.about {
  gap: 5vw;
  display: grid;
  padding: auto;
  grid-template-columns: 1fr 3fr;
}

.imageContainer {
  background-color: #d3e2dd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.ucr_logo {
  width: 10vw;
  height: 10vh;
}

.codesmith {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
}

.edupro {
  border-radius: 50%;
  height: 20vh;
  width: 10vw;
}

.prifina {
  height: 20vh;
  width: 10vw;
  border-radius: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  justify-content: center;
  padding-bottom: 5vh;
}

.right ul ul {
  list-style-type: circle;
}

.me {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
}

.right ul {
  margin: 0;
}

.right h4 {
  margin-bottom: 6px;
}
