.about {
  display: grid;
  padding: auto;
  grid-template-columns: 3fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 3vh 5vw;
  justify-content: center;
}

.imageContainer {
  background-color: #cec1ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
}
